$text-color-primary: #FFFAFB;
$text-color-secondary: #797979;
$text-color-black: #131315;

$red-color:#FF4E6B;
$red-color-transparent: rgba($red-color, 0.16);

$green-color:#00CC66;
$green-color-transparent: rgba($green-color, 0.16);

$yellow-color:#FFBB33;
$yellow-color-transparent: rgba($yellow-color, 0.16);

$blue-color:#4DB4FF;
$blue-color-transparent: rgba($blue-color, 0.16);

$bg-color: #131315;

$header-height: 60px
